.container {
   @media (max-width: 1110px) {
      display: grid;
      grid-template-columns: 122px  minmax(226px, 500px);
      grid-template-rows: repeat(3, auto);
      column-gap: 10px;
   }
}

.imageContainer {
   padding-bottom: 8px;

   img {
      width: 100%;
   }

   @media (max-width: 1110px) {
      grid-column: 1;
      grid-row: span 2;
   }
}

.title {
   color: #797979;
   font-size: 24px;
   font-weight: 800;
   line-height: 28px;
   padding-bottom: 14px;

   @media (max-width: 1110px) {
      grid-column: 2;
      grid-row: 1;
   }
}

.description {
   color: #797979;
   font-size: 13px;
   font-weight: 500;
   line-height: 19px;
   padding-bottom: 25px;

   @media (max-width: 1110px) {
      grid-column: 2;
      grid-row: 2;
   }
}

.footerContainer {
   display: flex;
   justify-content: space-between;
   align-items: center;

   @media (max-width: 1110px) {
      grid-column: span 2;
      grid-row: 3;
      justify-content: start;
      gap: 22px
   }
}

.price {
   font-size: 22px;
   font-weight: 700;
   line-height: 19px;
}