.container {
   display: flex;
   flex-direction: column;
   gap: 20px;
   align-items: flex-start;
   grid-column-start: 3;
   grid-row: 3 / span 2;
   align-self: end;
}

.number {
   color: #F7D22D;
   font-family: Montserrat;
   font-size: 30px;
   font-weight: 700;
   line-height: 37px;
   text-transform: uppercase;
}