
.container {
   max-width: 1110px;
   width: 100%;
   margin: 0 auto;
   padding-bottom: 62px;

   @media (max-width: 1110px) {
      max-width: none;
      padding: 0 20px 50px 20px;
   }
}

.title {
   font-size: 44px;
   font-weight: 800;
   line-height: 54px;
   text-align: center;
   margin-bottom: 47px;

   span {
      color: #F7D22D;
   }
}