.container {
   display: flex;
   align-items: center;
   gap: 28px
}


.phone_number {
   color: #F7D22D;
   font-size: 26px;
   font-weight: 700;
   line-height: 32px;
   text-transform: uppercase;
}